<div class="card" style="background-color: white">
  <div class="card-body">
    <div style="display: flex;justify-content: space-between;margin-bottom: 1%">

      <h4 class="card-title" style="">Ajouter une facture</h4>
      <div style="display: flex">
        <button
          type="button" style="border-radius: 50%;margin-right: 1%"
          class="btn btn-secondary " (click)="returnToListFacture()"
        >
          <i class="bi bi-x-lg"></i>
        </button>
        <button style="border-radius: 50%"
                type="button"
                class="btn btn-success " (click)="saveFacture()"
        >
          <i class="bi bi-check"></i>
        </button>
      </div>

    </div>
    <div>
      <div class={{alertMessag.classAlert}} role="alert" *ngIf="showAlert">
       {{alertMessag.message}}
      </div>
    </div>
    <div class="container">
      <form [formGroup]="factureGroup">


        <div class="row">
          <div class="input-group input-group-sm col-sm">
            <label>Status facture</label>
            <ng-select  [items]="listStatusFacture"
                       [searchable]="true"
                        bindLabel="value"
                       formControlName="statusFacture">
            </ng-select>
          </div>
          <div class="input-group input-group-sm col-sm">
            <label>Status paiement facture</label>
            <ng-select [items]="listStatusPaiement"
                       [searchable]="true"
                       bindLabel="value"
                       formControlName="statusPaiementFacture">
            </ng-select>
          </div>
        </div>
        <div style="margin-top: 2%" class="row">


          <div class="input-group input-group-sm col-sm">
            <label>Client</label>
            <ng-select [items]="tierList"
                       [searchable]="true"
                       bindLabel="nom"
                       formControlName="client">
            </ng-select>

          </div>


          <div class="form-group col-sm">
            <label for="exampleFormControlInput1">Prix total</label>

              <input type="number" class="form-control" id="exampleFormControlInput1" formControlName="prixTotale">

          </div>

          <!--
          <div class="input-group input-group-sm col-sm">
            <ng-select [items]="listDepot"
                       [searchable]="true"
                       bindLabel="code"
                       formControlName="depot">
            </ng-select>

          </div>
          -->
        </div>
        <h4 style="margin-top: 1%"> Produits</h4>
        <div  [ngClass]="!showAlert?'cardDetailFactureGroupe':'cardDetailFactureGroupeWithAlert'">
          <div class="cardDetailFacture" [ngClass]="!showAlert ? 'cardDetailFacture':'cardDetailFactureWithAlert'">

            <div formArrayName='detailFactures' style="margin: auto" >
              <div *ngFor="let phone of detailFactures.controls; let i=index" [formGroupName]="i" >

                <div class="row " style="margin-bottom: 1%">
                  <div class="form-group col-sm">




                    <ng-select [items]="listProduit"
                               (change)="getPrduitPrix(i)"
                               
                               [searchable]="true"
                               bindLabel="libell"
                               formControlName="produits">
                    </ng-select>



                  </div>
                  <div class="form-group col-sm">

                    <input type="number" class="form-control" id="exampleFormControlInput291"  placeholder="quantite"
                           formControlName='quantite'>
                  </div>
                  <div class="form-group col-sm">

                    <input type="number" class="form-control"  id="exampleFormControlInput281" placeholder="Prix" formControlName="prix"
                           >
                  </div>
                  <div class="form-group col-sm">

                    <button
                      type="button"
                      class="btn btn-danger" (click)="deleteProduitFromDetailFacture(i)"
                    >
                      supprimer
                    </button>
                  </div>
                </div>


              </div>
            </div>

          </div>
        </div>




        <div class="row" style="display: flex;justify-content: space-between;margin-bottom: 1%">
          <div></div>
          <div>
            <button
              type="button"
              class="btn btn-success" (click)="addProduitToDetaillFacture()"
            >
              Ajouter produit
            </button>
          </div>
        </div>


      </form>

    </div>


  </div>
</div>

