
<div class="card" style="min-height: calc(100vh - 179px);">
  <div class="card-body">
    <h4 class="card-title">Importer votre document pdf </h4>
    <div class="my-4" style="min-height: calc(100vh - 253px);">
      <div class="upload">
        <div class="UpladBTN">
          <div class="button-group">
            <button class="btn btn-primary" (click)="onClick()">
              importer <i class="bi bi-box-arrow-in-down"></i>
            </button>
          </div>

          <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="pdf/*"
                 style="display:none;"/>
          <span>{{fileName}}</span>
        </div>

      </div>

    </div>
  </div>
</div>
