.upload {
  border: dashed rgb(173, 172, 172);
  padding-left: p-l-35;
  .UpladBTN {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 10%;
    .imageUpload {
      img {
        margin-top: -2rem;
        width: 15%;
        cursor: pointer;
      }
    }
  }
}
