/* You can add global styles to this file, and also import other style files */
/* Example of overriding default ng-select styles */
@import "~@ng-select/ng-select/themes/default.theme.css";
.ng-select{
  width: 100%;
}
.card{
  max-height: calc(100vh - 454px);
  min-height: calc(100vh - 124px);
}
.cardFixheight{
  max-height:unset !important;
  min-height:unset !important;
}
.btnEdit{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}



@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800');
.tableBackroundColor{
 background-color: black;
  color: black;
}

/* Target the entire scrollbar */
::-webkit-scrollbar {
  width: 10px; /* width of the vertical scrollbar */
}

/* Track - the background of the scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the track */
  display: none;
}

/* Handle - the draggable part of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #888; /* color of the handle */
  border-radius: 5px; /* round corners on the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the handle on hover */
}
